<ion-view view-title="{{ 'Custom Schedule' | translate }}">
  <ion-content class="center panel__customschedule" padding="false">
    <div class="item item-divider" translate>Current Schedule</div>
    <ion-list ng-if="schedules.length > 0" class="list" show-delete="showDelete">
      <ion-item class="item" item="schedule" ng-repeat="schedule in schedules">
        <span ng-bind="schedule | formatCustomSchedule"></span>
        <ion-delete-button class="ion-minus-circled" ng-click="removeSchedule(schedule)"></ion-delete-button>
      </ion-item>
    </ion-list>
    <div class="item" ng-if="schedules.length == 0">
      <p translate>No tests scheduled.</p>
    </div>
    <div class="item item-divider" translate>Add a scheduled test</div>
    <div class="item">
      <div class="list">
        <label class="item item-select"><span translate>Hour</span><select ng-model="selected.timespan" ng-options="option.value as option.label | capitalize | translate for option in timespans" ><option value=""></option></select></label>
        <label class="item item-select"><span translate>Day of Week</span><select ng-model="selected.date" ng-options="option.value as option.label | translate for option in dates"><option value=""></option></select></label>
        <button class="button button-block button-positive" ng-click="addSchedule()" translate>Schedule Test</button>
      </div>
    </div>
  </ion-content>
</ion-view>
