<ion-view view-title="Measure">
	<ion-nav-bar type="bar-light">
		<ion-nav-buttons side="primary">
			<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
		</ion-nav-buttons>
	</ion-nav-bar>
  <ion-content class="center panel__measure">
    <div class="row padding-vertical">
      <div class="col center">
		<canvas gaugejs gauge-type="progressGaugeConfig.gaugeType"
				options="progressGaugeConfig.gaugeOptions"
				value="progressGaugeState.current"
				max-value="progressGaugeState.maximum"
				inner-text="progressGaugeState.message"
				height="180" on-tap="startNDT()"></canvas>
      </div>
    </div>
        <div class="row padding-vertical status_row">
            <div class="col center col-bottom">
				<span class="currentState"
						ng-show="currentState !== undefined">
					{{ currentState }}
				</span>
				<span class="currentRate"
						ng-show="currentRate !== undefined">
					{{ currentRate | formatThroughputMeasurement }}
				</span>
				<span class="currentRateLabel"
					ng-show="currentRate !== undefined" translate>Mbps</span>
			</div>
        </div>
        <div class="row">
			<div class="col col-offset-33">
				<i class="icon ion-cloud"></i>
				<span>{{ accessInformation.isp }}</span>
			</div>
        </div>
        <div class="row">
			<div class="col col-offset-33">
				<i class="icon ion-earth"></i>
				<span>{{ mlabInformation.label }}</span>
			</div>
        </div>
        <div class="row" ng-show="lastMeasurement !== undefined">
			<div class="col col-offset-33 right">
				<a class="button button-positive button-clear icon-left ion-share" on-tap="shareMeasurement({{ lastMeasurement }})" ng-show="MeasureConfig.sharingSupported" translate>Share</a>
				<a class="button button-royal button-clear icon-right ion-chevron-right" ui-sref="app.measurementRecord({measurementId: lastMeasurement})" translate>More</a>
			</div>
        </div>
  </ion-content>
</ion-view>
