<ion-view view-title="{{ 'Measurement Data' | translate }}">
	<ion-nav-buttons side="secondary">
		<button class="button" aria-label="Add Notes to Measurement"
				ng-click="annotateModal.show()">
			<i class="icon ion-compose placeholder-icon" translate>Annotate</i>
		</button>
	</ion-nav-buttons>
	<ion-content>
		<div class="list">
			<!-- -->
			<div class="item item-divider" translate>Information</div>
			<div class="item"
					ng-repeat="(label, result) in measurementRecord.information"
					href="#">
				{{ label | translate }}
				<span class="item-note">{{ result }}</span>
			</div>
			<!-- -->
			<div class="item item-divider" translate>Performance</div>
			<div class="item"
					ng-repeat="(label, result) in measurementRecord.results"
					href="#">
				{{ label | translate }}
				<span class="item-note">{{ result }}</span>
			</div>
			<!-- -->
			<div class="item item-divider"
					ng-show='MeasurementNotes !== undefined'
					translate>Annotations</div>
			<div class="item"
					ng-show='MeasurementNotes !== undefined'
					ng-click="annotateModal.show()">
                {{ MeasurementNotes }}
			</div>
			<div class="item item-divider"
					translate>Management</div>
			<a class="item item-icon-right"
					ng-click="hideMeasurement(measurementRecord.index)">
				<i class="icon ion-trash-a"></i>
				<span translate>Delete</span>
			</a>
		</div>
	</ion-content>
</ion-view>
