<ion-view view-title="{{ 'Upload settings' | translate }}">
  <form name="uploadForm" ng-submit="submitForm(uploadForm.$valid); uploadForm.$setPristine()" novalidate>
    <ion-content>
      <ion-toggle ng-model="currentSettings.uploadEnabled" ng-change="setUploadEnabled()" ng-disabled="true">
        <span translate>Enable Uploading</span>
      </ion-toggle>

      <div class="item item-divider item-text-wrap" ng-if="currentSettings.uploadEnabled">
        <p translate>* indicates a required field</p>
      </div>

      <label class="item item-input item-stacked-label" ng-if="currentSettings.uploadEnabled" ng-hide="true">
        <span class="input-label">Server URL*</span>
        <input required name="url" type="url" ng-model="currentSettings.uploadURL"></input>
        <p ng-show="uploadForm.url.$invalid && uploadForm.url.$touched" class="help-block">Please provide a valid URL.
        </p>
      </label>

      <label class="item item-input item-stacked-label" ng-if="currentSettings.uploadEnabled">
        <span class="input-label">School ID*</span>
        <input required name="key" type="text" ng-model="currentSettings.uploadAPIKey"></input>
        <p ng-show="uploadForm.key.$invalid && uploadForm.key.$touched" class="help-block">The School ID is required.</p>
      </label>

      <label class="item item-input item-stacked-label" ng-if="currentSettings.uploadEnabled">
        <span class="input-label">Browser ID*</span>
        <input required name="browserid" type="text" ng-model="currentSettings.browserID"></input>
        <p ng-show="uploadForm.browserid.$invalid && uploadForm.browserid.$touched" class="help-block">The Browser ID is
          required.
        </p>
      </label>

      <label class="item item-input item-stacked-label" ng-if="currentSettings.uploadEnabled">
        <span class="input-label">Device type</span>
        <input type="text" ng-model="currentSettings.deviceType"></input>
      </label>

      <label class="item item-input item-stacked-label" ng-if="currentSettings.uploadEnabled">
        <span class="input-label">Notes</span>
        <input type="text" ng-model="currentSettings.notes"></input>
      </label>
      </div>
      </div>
      <div class="row">
        <div class="col col-center">
          <button type="submit" ng-disabled="uploadForm.$invalid" class="button button-block button-light button-balanced">Save</button>
        </div>
      </div>
    </ion-content>
  </form>

</ion-view>
