<ion-view view-title="About">
	<ion-content class="center panel__about" padding="true">
		<div class="row padding-vertical">
			<div class="col col-50 col-offset-25">
				<img src="img/mlab-logo.png" class="logo"/>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<span translate>M-Lab is a consortium of research, industry, and public interest partners dedicated to providing an ecosystem for the open, verifiable measurement of global network performance. As a collaborative effort, M-Lab depends on the support and involvement of likeminded people and organizations.</span>
			</div>
		</div>
	</ion-content>
</ion-view>
