<ion-view view-title="Data Usage">
  <ion-content class="center padding panel__data_usage">

<h2 translate>Data Used by Measure App</h2>
<p translate>The M-Lab Measure App uploads and downloads data for the purposes of measuring your connections to the Internet.</p>
<p translate>Currently the app has used <span class="badge badge-assertive">
{{ historyState.dataConsumed  | formatDataConsumptionMeasurement }}
</span> of data from this device.</p>
</p>
<p translate>Please be aware that the data the Measure App uses does count toward any monthly service or data plan you subscribe to.</p>
  </ion-content>
</ion-view>
