<ion-view view-title="Get Involved">
	<ion-content class="center panel__host_information" padding="true">
		<div class="row padding-vertical">
			<div class="col center">
				<img src="img/mlab-logo.png" class="logo"/>
			</div>
		</div>
		
		<div class="row">
			<div class="col">
<h3 translate>Host an M-Lab Site</h3>

<p translate>M-Lab depends on contributions of servers and connectivity from other industry and institutional partners. If you are interested in hosting servers for an M-Lab site, start the process by completing our site host application.<p>

<a class="button button-assertive" href="https://docs.google.com/forms/d/1gYwgzjjLQA_PHmK8RKV2-OLkyBaUl0glrbnizvx36tc/viewform?formkey=dHNMZ2p0OU5TckxIUFg0RVNhSk5teEE6MQ#gid=0" target="_system" translate>Host a Site</a>

<h3 translate>Contribute M-Lab Client Implementations</h3>

<p translate>M-Lab clients are either standalone network experiments that submit data to M-Lab or are integrations of M-Lab experiments into existing software, like a browser extension. Contact M-Lab to find out more.<p>
<a class="button" href="http://measurementlab.net/contact" target="_system" translate>Contact</a>

<h3 translate>Host an Experiment on the M-Lab Platform</h3>

<p translate>M-Lab is a consortium of research, industry, and public interest partners dedicated to providing an ecosystem for the open, verifiable measurement of global network performance. As a collaborative effort, M-Lab welcomes the participation of industries, institutions, and researchers who would like to help expand the platform and ensure its growth and success.</p>
<p translate>If you are a researcher who is interested in deploying a network measurement experiment on the M-Lab platform, find out how on our Contribute page.<p>

<a class="button" href="http://measurementlab.net/contribute" target="_system" translate>Contribute</a>

			</div>
		</div>
	</ion-content>
</ion-view>
