<ion-view view-title="About">
	<ion-content class="center panel__about" padding="true">
		<div class="row padding-vertical">
			<div class="col col-50 col-offset-25">
				<img src="img/mlab-logo.png" class="logo"/>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<p translate>M-Lab is a consortium of research, industry, and public interest partners dedicated to providing an ecosystem for the open, verifiable measurement of global network performance. As a collaborative effort, M-Lab depends on the support and involvement of likeminded people and organizations.</p>
				
				<p translate>Please submit this application if you are interested in hosting servers for an M-Lab site. Groups hosting an M-Lab site will also find the document how to deploy a new M-Lab site useful.</p>
				
				https://docs.google.com/forms/d/1gYwgzjjLQA_PHmK8RKV2-OLkyBaUl0glrbnizvx36tc/viewform?formkey=dHNMZ2p0OU5TckxIUFg0RVNhSk5teEE6MQ#gid=0
			</div>
		</div>
	</ion-content>
</ion-view>
