<ion-view view-title="{{ 'Get Involved' | translate }}">
	<ion-content class="center panel__host_information" padding="true">
		<div class="row padding-vertical">
			<div class="col center">
				<img src="img/mlab-logo.png" class="logo"/>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<span><h2 translate>Get Involved</h2></span>
			</div>
		</div>		
		<div class="row">
			<div class="col">
				<p translate>By using the M-Lab Measure app, the data about the health of the network connections you use is shared in a public dataset that researchers, ISPs, regulators and others can use to understand the Internet and how it can be improved. You can also choose to get more involved with M-Lab beyond that as well.</p>

				<h3 translate>Explore M-Lab Data</h3>
				<p translate>M-Lab data is openly available to researchers, but we also have developed tools to let anyone explore our data. If you're interested in seeing the measurements of Internet speed and health are in your area, browse our data on our <a href="http://www.measurementlab.net/observatory" target="_system">Internet Observatory</a>. </p>
				<h3 translate>Translate the M-Lab Measure App</h3>
				<p translate>Would you like to help translate the M-Lab Measure App for other languages? Get involved as a translator or translation reviewer on <a href="https://www.transifex.com/otf/mlab-app/" target="_system">Transifex</a>, or <a href="http://www.measurementlab.net/contact" target="_system">contact us for more information!</a>!</p>

				<h3 translate>Find Out More</h3>
				<p translate>There are a many ways to get involved with M-Lab, whether you're an individual or represent an organization. Find out other ways to <a href="http://measurementlab.net/contribute" target="_system">contribute</a> on our website.</p>
			</div>
		</div>
	</ion-content>
</ion-view>
