<ion-view view-title="{{ 'Privacy Policy' | translate }}">
  <ion-content class="center padding panel__privacy_information">

<p translate>This application:</p>

<ul class="privacyInformation">
<li translate>Does share your IP Address</li>
<li translate>Does not collect personal information on M-Lab servers, e.g. your Internet traffic, your emails or Web searches</li>
</ul>
<h2 translate>About M-Lab</h2>
<p translate>M-Lab is a platform for the use of independent tools created by researchers to gather information relevant to broadband services. The goal of the project is to analyze information regarding broadband networks and report this information to the public.</p>

<h2 translate>More Information</h2>
<p translate>By running the tests in the M-Lab Measure App, your device will generate and send some data back-and-forth with an M-Lab server. The data collected relates to the particular communication "flows" generated between your device and an M-Lab server. This includes the IP address provided by your ISP. These data will be used and analyzed by researchers and, in order to advance research, these data will be made publicly available. The M-Lab Measure App does not collect personal information, such as your Internet traffic, your emails or Web searches.</p>
<p translate>M-Lab's complete <a href="http://www.measurementlab.net/privacy" target="_system">Acceptable Use and Privacy Policies</a> are available on our website.</p>
  </ion-content>
</ion-view>
