/* Empty. Add your own CSS if you like */

div.row div.col.center {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
div.row div.col.right {
  display: table-cell;
  vertical-align: right;
  text-align: right;
}

.row h3 {
/*  font-family: "lato";*/
/*  font-weight: bold;*/
}

span.measurement-icon:before {
  margin-right: 10px;
  margin-left: 10px;
}


span.item-note {
  max-width: 50%;
  text-overflow: ellipsis;
  display: inline-block;
  overflow: hidden;
}

.panel__measure .padding-vertical {
	padding-bottom: 30px;
}
.panel__measure div.row div.col {
	text-overflow: ellipsis;
	overflow: hidden;
	color: rgb(68, 68, 68);
	font-family: 'Helvetica Neue', Roboto, 'Segoe UI', sans-serif;
	font-size: 1.2em;
	font-stretch: normal;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	white-space: nowrap;
	word-wrap: break-word;
}

.panel__measure div.row.status_row {
	height: 70px;
}
.panel__measure div.row div.col i.icon {
	display: inline-block;
	width: 2.8em;
}
.panel__measure div.row div.col span.currentRate {
	display: inline-block;
	font-size: 2.7em;
	font-weight: bold;
	width: 2.8em;
}
.panel__measure div.row div.col span.currentRateLabel {
	font-size: 0.9em;
	font-weight: 100;

}
.panel__measure div.row div.col span.currentState {
	font-size: 0.9em;
	font-weight: 200;
}